In [21]:
import os
from pymongo import MongoClient
import json
import pandas as pd
import dotenv
from datetime import datetime
import subprocess

In [2]:
dotenv.load_dotenv()

USER = os.getenv("MONGO_USER")
PASSWORD = os.getenv("MONGO_PWD")
DATABASE = os.getenv("MONGO_DB")
COLLECTION = "LEARNERS"

ATLAS_URI = f"mongodb+srv://{USER}:{PASSWORD}@cluster0.0nlbhko.mongodb.net/?retryWrites=true&w=majority"
mongo_client=MongoClient(ATLAS_URI)
collection = mongo_client[DATABASE][COLLECTION]


cursor = collection.find({})

df = pd.DataFrame(cursor)
df

,_id,user_name,email_id,signin_dt,first_name,last_name,age,mobile,address,country,profession,field_of_interest,reason_of_enrollment,is_verified,verification_type,verification_id,courses
0,0d6548NUcprmyg45brzZZ8468,godasamiha,jivika.chowdhury@seesight.com,2022-12-18 18:14:08,Jivika,Chowdhury,43,+91-+916931231899,"H.No. 516,Bera Street, Guntur,184549",India,student,design and artistic,new hobby,no,None,None,"{'1': {'course_id': 2202940, 'enrolled_dt': '2..."
1,0b6376XOfmshzm18lmmTZ3501,owagle,dishani.choudhry@example.in,2021-11-24 07:30:02,Dishani,Choudhry,18,+91-+911461304540,"H.No. 093,Balan,Naihati,761444",India,businessman,science,free-lancing,yes,adhar,73090520157,"{'1': {'course_id': 2297652, 'enrolled_dt': '2..."
2,3od2539RScpavnv74txxOS3039,mdyal,renee.mane@bluevice.com,2022-02-15 15:19:04,Renee,Mane,20,+91-08471796816,"06, Rao,Nagar,Khandwa,253816",India,artist,IT,new hobby,yes,adhar,21762139165,"{'1': {'course_id': 1328072, 'enrolled_dt': '2..."
3,7xd7613QVgmpcqk64lvsDT2667,golahiran,rati.seth373@yellowstone.in,2021-08-09 11:32:05,Rati,Seth,41,+91-00562163994,"H.No. 70, Toor,Path,Pallavaram,212370",India,artist,IT,self-improvement,yes,adhar,34214248463,"{'1': {'course_id': 2881812, 'enrolled_dt': '2..."
4,7a5190DTajhbjm57yzbTQ4758,zachariasahil,hridaan.kulkarni647@example.in,2021-07-13 02:30:33,Hridaan,Kulkarni,32,+91-4402089691,"H.No. 006, Dhar Chowk,Kakinada,542513",India,businessman,data science and data analytics,new hobby,yes,adhar,37172738355,"{'1': {'course_id': 892730, 'enrolled_dt': '20..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,3ux1974TYykkowv54wbeXY5293,mthomas,sally.reid@bluevice.com,2022-08-14 21:38:22,Sally,Reid,21,+1-397-606-6339,"266 Graves Street,Rhodesfort, GU,03913",USA,professional,language studies,MOOC,no,None,None,"{'1': {'course_id': 1744000, 'enrolled_dt': '2..."
196,0bu1437CUqaltbb71oaqEE4863,samantha60,stephanie.caldwell32@seesight.com,2021-01-13 03:40:22,Stephanie,Caldwell,56,+1-950-717-3535,"885 Shelby Tunnel Suite 529,New Paul, MS,06253",USA,professional,design and artistic,free-lancing,no,None,None,"{'1': {'course_id': 1593554, 'enrolled_dt': '2..."
197,7sa9094FZctijmr16helWM2398,amandabowen,andrew.mcmillan21@yellowstone.in,2021-02-17 18:03:04,Andrew,Mcmillan,56,+1-643-140-8469,"21822 Patterson Landing Suite 967,East Johnmou...",USA,student,data science and data analytics,new hobby,yes,SSN,176-88-2341,None
198,3ux6986IStrxenx68nrwZZ7164,zsmith,jacob.sanchez@yellowstone.in,2021-01-24 20:00:35,Jacob,Sanchez,28,+1-822-238-9275,"474 Gregory Forge,Lake Malloryfort, OH,00693",USA,artist,design and artistic,career change,no,None,None,"{'1': {'course_id': 3337914, 'enrolled_dt': '2..."
199,0zc9962VNjuwyda21vpfZW6471,karenphillips,corey.stewart64@yellowstone.in,2021-07-19 08:58:14,Corey,Stewart,52,+1-117-825-1239,"64321 Thornton Turnpike,Reevesborough, AR,45435",USA,freelancer,IT,self-improvement,no,None,None,"{'1': {'course_id': 3905266, 'enrolled_dt': '2..."

In [6]:
df.to_json(f"./data/exported-on-{datetime.now().date().strftime('%Y-%m-%d')}.json", index=False)

In [5]:
datetime.now().date().strftime('%Y-%m-%d')

'2024-01-29'

In [9]:
# check

import json

with open('./data/exported-on-2024-01-29.json', 'r') as json_file:
    exported_check_data = json.load(json_file)

dict_keys(['_id', 'user_name', 'email_id', 'signin_dt', 'first_name', 'last_name', 'age', 'mobile', 'address', 'country', 'profession', 'field_of_interest', 'reason_of_enrollment', 'is_verified', 'verification_type', 'verification_id', 'courses'])

In [10]:
exported_check_data.keys()

dict_keys(['_id', 'user_name', 'email_id', 'signin_dt', 'first_name', 'last_name', 'age', 'mobile', 'address', 'country', 'profession', 'field_of_interest', 'reason_of_enrollment', 'is_verified', 'verification_type', 'verification_id', 'courses'])

In [16]:
for i in exported_check_data.keys():
    print(f"{i}:",exported_check_data[i]['100'])

_id: 7ub1805ZRdavlgw31omhRN9531
user_name: lopezangela
email_id: john.howard26@example.in
signin_dt: 2021-06-18 01:41:50
first_name: John
last_name: Howard
age: 47
mobile: +1-126-561-4115
address: 95872 Vanessa Wells Apt. 839,Port Emily, LA,64238
country: USA
profession: businessman
field_of_interest: IT
reason_of_enrollment: self-improvement
is_verified: yes
verification_type: SSN
verification_id: 070-22-7803
courses: {'1': {'course_id': 3720318, 'enrolled_dt': '2021-10-02 00:01:22', 'is_paid': 'No', 'price_paid': '141 USD', 'discount_applied': True, 'coupon_code': 'LEARNWITHED', 'payment_method': 'promo', 'payment_id': '3647tovd164117640227537215575625944', 'progress_status': 'completed', 'progress_report': 100, 'certification_dt': '2023-09-20 15:35:13'}, '2': {'course_id': 4067170, 'enrolled_dt': '2022-06-21 21:24:43', 'is_paid': 'Yes', 'price_paid': '83 USD', 'discount_applied': True, 'coupon_code': 'GROWWITHED', 'payment_method': 'debit card', 'payment_id': '376tgzr168526339899070141385341491', 'progress_status': 'enrolled', 'progress_report': 1, 'certification_dt': None}, '3': {'course_id': 1124942, 'enrolled_dt': '2022-02-16 04:44:10', 'is_paid': 'No', 'price_paid': '51 USD', 'discount_applied': True, 'coupon_code': 'LONGRUNEDDEVWITHED', 'payment_method': 'credit card', 'payment_id': '4203lisr952238327753254638230842044', 'progress_status': 'completed', 'progress_report': 100, 'certification_dt': '2022-11-15 03:39:18'}, '4': {'course_id': 1623660, 'enrolled_dt': '2022-03-15 18:30:48', 'is_paid': 'No', 'price_paid': '146 USD', 'discount_applied': True, 'coupon_code': 'LEARNWITHED', 'payment_method': 'net banking', 'payment_id': '5464wgjr690409636634853701200247277', 'progress_status': 'completed', 'progress_report': 100, 'certification_dt': '2022-08-03 02:33:02'}}

In [23]:
file_path = f"./data/exported-on-{datetime.now().date().strftime('%Y-%m-%d')}.json"

with open(file_path, 'w') as empty_file:
    pass

for record in collection.find({}):
    with open(file_path, 'a') as j:
        json.dump(record,j, indent=4)

In [19]:

with open(f"./data/exported-on-{datetime.now().date().strftime('%Y-%m-%d')}.json",'w') as jf:
    json.dump(list(collection.find({})), jf, indent=4)